:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
}
header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.logo {
  width: 120px;
}
.logo :hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn {
  background-color: transparent;
  border: none;
}
.buttons :hover {
  cursor: pointer;
  transform: scale(1.1);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorBtn {
  border: 1px solid black;
  height: 40px;
  width: 60px;
  margin-right: 7px;
  font-size: 16px;
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}
.btn__img {
  width: 70px;
}
main {
  display: flex;
  justify-content: center;
}
.item__img {
  width: 50px;
  margin-right: 10px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: var(--color-light-grey);
  margin-bottom: 5px;
}
