body {
  background-color: #373c45;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.logo {
  width: 130px;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__blue {
  padding: 10px;
  background-color: #54aeef;
  display: flex;
  justify-content: center;
}
.filter__yellow {
  padding: 10px;
  background-color: yellow;
  display: flex;
  justify-content: center;
}
.filter__pink {
  padding: 10px;
  background-color: pink;
  display: flex;
  justify-content: center;
}
.btn {
  margin-right: 10px;
  width: 60px;
  border-radius: 10%;
}
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}
nav {
  margin-bottom: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll {
  overflow: scroll;
  width: 570px;
  height: 500px;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  width: 500px;
  height: 50px;
  border-radius: 7%;
  margin-bottom: 5px;
}
.show img {
  width: 40px;
  margin-right: 10px;
}
